body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{
    height: 200px;
    padding: 1em;
}

article{
    height: auto;
    background-color:turquoise;
    padding: 1em;
    margin-bottom: 1em;
}

body > header{
    background-color:teal;
    margin-bottom: 1em;
    float: left;
    width: 79%;
}

nav{
    background-color:rgb(10, 107, 107);
    padding: 1em;
    float: left;
    width: 20%;
    height: 600px;
    margin-right:1%;
}

main > article > header{
    background-color:turquoise;
}

main{
    float: left;
    width: 79%;
}

footer{
    background-color:rgb(1, 66, 66);
    width: 100%;
    text-align: center;
    clear: both;
}